$blue: #2980b9
$doc_width: 860px
$highlight: #e74c3c

*
	padding: 0
	margin: 0
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box

body
	font-family: 'Source Sans Pro', sans-serif

ul, li
	list-style-type: none

a
	text-decoration: none
	color: $blue

h1
	font-family: 'Pacifico'
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-weight: 200
	font-size: 36px

.tpl-header .content,
.tpl-container
	max-width: $doc_width
	margin: 0 auto

.tpl-header
	background: $highlight
	color: white
	a
		color: white
	ul
		float: right
		li
			float: left
			padding: 5px 10px
			padding-top: 20px

		

.hero
	font-size: 30px
	width: 780px
	margin: 0 auto

.hero-wrap
	background: #ecf0f1
	padding: 65px 0
	border-top: 1px solid #c0392b
	border-bottom: 1px solid #ddd

.hero
	color: #2c3e50
	font-weight: 100
	position: relative
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	font-size: 40px
	>span
		color: $highlight
	i
		font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif
	a
		color: #2c3e50
		border-bottom: 1px dashed #ddd
		&:hover
			color: $blue
	div.heading
		font-size: 56px
		color: #999