.hamburger {
  display: block;
  width: 25px;
  height: 25px; }
  .hamburger span {
    margin-top: 4px;
    display: block;
    border-top: 4px solid #e6e6e6; }

body {
  background: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  font-size: 1.25em; }

h1, h2, h3, h4 {
  margin: 1em 0 0.5em;
  line-height: 1.25;
  font-weight: bold;
  font-family: "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1 {
  font-weight: 100;
  font-family: "Pacifico";
  color: #3e6b85;
  font-size: 52px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  line-height: 56px;
  margin-top: 70px; }

h2 {
  margin-top: 0.5em; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.45em; }

h4 {
  font-size: 1.25em; }

ul, ol {
  margin: 1em 0;
  padding-left: 40px; }

p, blockquote, .sub-title, ul, li, .h2sub {
  font-family: Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

p {
  margin: 1em 0; }

a {
  text-decoration: none;
  color: #6a9ccd; }

html, body {
  height: 100%; }
