* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #2980b9; }

h1 {
  font-family: "Pacifico";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  font-size: 36px; }

.tpl-header .content,
.tpl-container {
  max-width: 860px;
  margin: 0 auto; }

.tpl-header {
  background: #e74c3c;
  color: white; }
  .tpl-header a {
    color: white; }
  .tpl-header ul {
    float: right; }
    .tpl-header ul li {
      float: left;
      padding: 5px 10px;
      padding-top: 20px; }

.hero {
  font-size: 30px;
  width: 780px;
  margin: 0 auto; }

.hero-wrap {
  background: #ecf0f1;
  padding: 65px 0;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #dddddd; }

.hero {
  color: #2c3e50;
  font-weight: 100;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 40px; }
  .hero > span {
    color: #e74c3c; }
  .hero i {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }
  .hero a {
    color: #2c3e50;
    border-bottom: 1px dashed #dddddd; }
    .hero a:hover {
      color: #2980b9; }
  .hero div.heading {
    font-size: 56px;
    color: #999999; }
