<div class="tpl-left">
  <h1><a href="/">ScottDover</a></h1>
  <a class="nav-trigger" href="#"><i class="fa fa-reorder"></i></a>
  <nav>
    <ul>
      <li><a class="{% if page.nav_item == 'writing' %}active{% endif %}" href="/">writing</a></li>
      <li><a class="{% if page.nav_item == 'about' %}active{% endif %}" href="/about">about</a></li>
      <li><a href="/resume" target="_blank">resume</a></li>
      <li class="sm">
        <a href="http://facebook.com/sdover1212" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/scottdover" target="_blank" class="fa fa-twitter"></a>
        <a href="https://github.com/scottdover" target="_blank" class="fa fa-github"></a>
      </li><!-- /sm -->
    </ul>
  <nav>
</div>

