html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.063rem;
    line-height: 1.56;
    color: #40404f;
    margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.post-content p:first-child::first-line {
    font-weight: bold;
    text-decoration: underline;
    color: #2C194D;
}

blockquote {
    border-left: 2px solid #34989D;
    margin-left: 0;
    padding-left: 1em;
}

.post-content blockquote p:first-child::first-line {
    color: inherit;
    font-weight: inherit;;
    text-decoration: none;
}

.date-line {
    font-size: 14px;
    color: #777;
    font-weight: bold;
}

.date-line a {
    color: #555;
}

p {
    margin-bottom: 1.6em;
}

h1 {
    font-size: 2.2rem;
    font-weight: 200;
    max-width: 240px;
}

h1 span {
    display: none;
}

h1 a {
    color: #9826ce;
}

h2, h3 {
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 1.2;
}

.footer {
    font-size: 12px;
    text-align: center;
    padding-top: 35px;
}

del {
    color: #aaa;
    font-style: italic;
}

.container {
    max-width: 44em;
    padding: 1em;
}
    .container h2 a {
        color: #40404f;
    }
        .container h2 a:hover {
            text-decoration: none;
            color: #34989D;
        }
    .container a {
        color: #9826ce;
        text-decoration: none;
    }
        .container a:hover {
            text-decoration: underline;
        }

body.resume {
    font-size: 14px;
    line-height: 1.35;
}
    .resume ul {
        padding-left: 25px;
        margin-top: -10px;
    }
    .resume h1 {
        font-size: 42px;
        line-height: 1.0;
        display: block;
        font-weight: bold;
    }
    .resume .container {
        max-width: 960px;
        padding: 15px;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .resume h3 {
        font-size: 20px;
        font-weight: bold;
    }
        .resume h3 span {
            color: #999;
        }
    .resume h2 {
        border-bottom: 2px solid #e8e8e8;
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    .resume h4 {
        font-size: 1rem;
    }
    .resume em {
        display: block;
        margin-top: -17px;
        font-size: 14px;
        padding-left: 1px;
    }
    .resume .left-content, .resume .right-content {
        margin-top: 30px;
    }
    .resume .end {
        color: #999;
    }

.post-list .post-wrapper {
    margin-top: 2.5rem;
}

.post-list .post-wrapper:first-child {
    margin-top: 0;
}
ul.skills {
    padding-top: 0.35em;
    list-style-type: none;
    padding-left: 0;
}
    .skills li {
        margin-top: 1em;
    }

.references {
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    margin-top: 2.25rem;
}

.header .contact {
    float: right;
    text-align: right;
    margin-top: 5px;
}

.company-details .job-details {
    position: relative;
    border-left: 1px solid #e8e8e8;
    margin-left: 1rem;
    padding-left: 1rem;
}
.company-details .circle {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: -6px;
    background: white;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
}

.education-wrapper > div {
    float: left;
    padding-right: 2.5rem;
}
.education-wrapper h3 {
    margin-top: 0;
}

@media (min-width: 600px) {
    .container {
        padding: 3rem 4em;
    }
}
