<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" /> 
    <link href="//fonts.googleapis.com/css?family=Pacifico" 
      rel="stylesheet" type="text/css" />
    <link href="http://brick.a.ssl.fastly.net/Source+Sans+Pro:200,200i"
      rel="stylesheet"  />
    <link href="/css/all.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />

    <title>
      {% if page.title %} {{ page.title }} | {% endif %}
      ScottDover
    </title>

    <link rel="icon" href="/favicon.ico?ts=1" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico?ts=1" type="image/x-icon" />


    <meta property="og:image" content="http://scottdover.github.io/img/fb-icon.png" />
    <meta property="og:type" content="blog" />
    <meta property="og:site_name" content="ScottDover" />
    <meta property="og:title" content="{% if page.title %} {{ page.title | strip_html }} | {% endif %}ScottDover" /> <!-- Page Title -->
    <meta property="og:description" content="{% if page.use_truncated_content %}{{ content | truncatewords: 200 | strip_newlines | strip_html | escape  }}{% elsif page.description %}{{ page.description | truncatewords: 200 | strip_newlines | strip_html | escape }}{% else %}A blog on programming, technology, theology and every topic that strikes my interest{% endif %}" />


    <meta name="description" content="{% if page.use_truncated_content %}{{ content | truncatewords: 200 | strip_newlines | strip_html | escape  }}{% elsif page.description %}{{ page.description | truncatewords: 200 | strip_newlines | strip_html | escape  }}{% else %}A blog on programming, technology, theology and every topic that strikes my interest{% endif %}" />

    <meta name="keywords" content="ScottDover, technology, programming, winston salem, nc, php, ruby, theology" />

    <!--<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44197929-1', 'scottdover.github.io');
      ga('send', 'pageview');
    </script>-->
  </head>
  <body class="{% if page.extra_class %}{{ page.extra_class }}{% endif %}">
    <div class="tpl-header">
      <div class="content">
        <ul>
          <li><a href="#">work</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">blog</a></li>
        </ul>
        <h1><a href="/">ScottDover</a></h1>
      </div><!-- /content -->
    </div>
    {% if page.home_page %}
      <div class="hero-wrap">
        <div class="hero">
          I'm <span>Scott Dover</span>. I'm a developer living in Winston Salem, NC 
          and working for <a href="http://pursuehappy.com" target="_blank">Pursuit Of Happiness</a>. I create things for the 
          web <i>&amp;</i> iOS.
        </div><!-- /hero -->
      </div><!-- /hero-wrap -->
    {% endif %}
    <div class="tpl-container">
    </div>
  </body>
</html>