<!DOCTYPE html>
<html>
    <head>
        <!-- Charset / Styling -->
        <meta charset="utf-8" /> 
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />
        <link href='//fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/all.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />

        <!-- Title -->
        <title>ScottDover</title>

        <!-- icons -->
        <link rel="icon" href="/favicon.ico?ts=1" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico?ts=1" type="image/x-icon" />

        <!-- Facebook kerfuffle -->
        <meta property="og:image" content="http://scottdover.github.io/img/fb-icon.png" />
        <meta property="og:type" content="blog" />
        <meta property="og:site_name" content="Scott Dover's Blog" />
        <meta property="og:title" content="ScottDover" /> <!-- Page Title -->
        <meta property="og:description" content="A blog" />

        <!-- And other meta -->
        <meta name="description" content="A Blog" />
        <meta name="keywords" content="tech" />
    </head>
    <body>
        <div class="top-bar">
            <div class="content">
                <div class="right">
                    <a href="/all.html">archive</a>
                    <a class="tw-large" href="http://twitter.com/scottdover" target="_blank">@scottdover</a>
                </div>
                <h1><a href="/" style="color:#202020;">ScottDover</a></h1>
            </div>
        </div>
        <div class="container">
            {{ content }}
        </div> <!-- /container -->      
        <!-- <script type="text/javascript" src="/js/app.js"></script> -->
    </body>
</html>